html, body {
    height: 100%;
    text-align:center;
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-family: 'comic Sans', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    color: #5D6063;
    background-color: #EAEDF0;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
}

.fields .container {
    flex-direction: row;
    flex-wrap: nowrap;
  

    
} 

fieldset {
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    justify-content: space-around;
    gap: 8px;
    background-color:  #F6F7F8;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex:1;
    align-items: center;
}

.form-col input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: auto;
    padding: 7px;
    font-size: 22px;
}

label {
    font-size: 1.1rem;
}

p small {
    font-size: 0.5em;
}

.dogImg { 
    height: 100%;
    width: 29vw;
    
}

#banner {
    display: flex;
    position: absolute;
    top: 25%;
    width: 98%;
    font-size: 36px;
    color: white;
    height: 15%;
    
    align-items: center;

    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
}


.form-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
}

.form-col button {
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #256c5d;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-col button:hover {
    background-color: #2f8572;
}

.form-col-1 button:active {
    background-color: #1d584c;
}

.header-logo {
    margin-top: -10px;
    height: 45px;
    width: 60px;
}

.header, .footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    
}

.footer {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    color: white;
    text-decoration: none;
}


input {
    outline: none;
}

fieldset {
    border-radius: 3px;
}
.form-col input:focus {
    border: 1px solid #7eba63;
    box-shadow: none;
}

.form-col input:required:focus:invalid, input[type='email']:invalid {
    border: 1px solid #D55C5F;
    box-shadow: none;
}

.login a {
    color:#1d584c;
}

.login a:hover {
    color: #2f8572;
}

.bgImage {
    position: relative;

}

.header-logo.bg {
    top: 33%;
    left: 70%;
}

.credit {
    top: 90%;
    position: absolute;
    left: 20%;
}