html, body {
    height: 100%;
    text-align:center;
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-family:'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: 400;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fields .container {
    flex-direction: column;
}

fieldset {
    display: flex;
    justify-content: space-around;
    gap: 8px;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-col input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.dogImg { 
    height: 81vh;
    width: auto;
    display: flex;
}

.bgImage {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}


.form-col {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
}

.form-col button {
    font-size: 16px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #256c5d;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-col-1 button:hover {
    background-color: #2f8572;
}

.form-col-1 button:active {
    background-color: #1d584c;
}

.header-logo {
    margin-top: -10px;
    height: 45px;
    width: 60px;
}

.header, .footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 32px;;
}

.footer {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    color: white;
    text-decoration: none;
}

input {
    outline: none;
}

.form-col input:focus {
    border: 1px solid #7eba63;
    box-shadow: none;
}

.form-col input:required:focus:invalid, input[type='email']:invalid {
    border: 1px solid #D55C5F;
    box-shadow: none;
}

.form-col in